<div class="contact-close mt-4">
  <%= link_to root_path do %>
    <p><i class="fa-solid fa-circle-xmark"></i></p>
  </div>
<% end %>

<div class="new-contact-block d-flex align-items-center flex-column">

  <div class="new-contact-header d-flex flex-column">

    <div class="header-header d-flex justify-content-center align-items-center">
      <h3>Let's talk about your</h3>
      <h3 id="highlight"><strong>project</strong></h3>
    </div>

    <div class="header-body d-flex justify-content-center">
      <p>You have an idea but you don't know how to make it real? Tell me more here and I will help you!</p>
    </div>

  </div>

  <div class="new-contact-body">
  </div>

  <div class="new-contact-footer">
  </div>


</div>
