.navbar {
  background: white;
  justify-content: center;
  height: 10vh;
  text-align: center;

  .navbar-content {

    a:hover {
      font-weight: 700;
      background: blue;
      transition: ease 0.5s;
    }
  }
}

#test-btn {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid red;
  background: red;
}
