.navbar {
  background: white;
  width: 100vw;
  justify-content: center;
  height: 100px;
  text-align: center;

  .navbar-content {
    width: 50%;

    .nav-item {
      height: 70%;
      width: 13%;
    }

    a:hover {
      font-weight: 700;
      font-size: larger;
    }
  }
}
